:root {
  --header-height: 60px;
  --footer-height: 60px;

  --BLACK: #222222;
  --ACCENT: rgb(192, 114, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--BLACK);
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

a {
  color: var(--ACCENT);
}

code {
    display: block;
    background-color: #222;
    color: rgb(255, 255, 136);
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    line-height: 20px;
    font-size: 18px;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.list {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-left: 0;
}

.list a {

    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #222;
    color: #222;
    font-weight: bold;
    max-width: 600px;
    border-radius: 8px;
    transition: all 400ms eae;
}

.list a:hover {
    background-color: #222;
    color: #fff;
    
}
/* __TEXT__ */
.title--1 {
    font-size: 42px;
}

.title--2 {
    font-size: 20px;
    opacity: 0.8;
    a {
        text-decoration: none;
        color: currentColor;
    }
}

.title--3 {
    font-size: 20px;
    opacity: 0.6;
}


/* BUTTON */
.btn {
    background-color: #222;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
    transition: all 400ms ease;
}

.btn:hover {
    opacity: 0.85;
}

.btn:active {
    opacity: 1;
    transform: scale(0.95);
}